table, th, tr, td {
    border: 1px solid black;
}

#dogfood-list1 {
  width: 200px;
  float: left;
  max-height: 400px;
}

#dogfood-list2 {
  width: 200px;
}

#catfood-list1 {
  width: 200px;
  float: left;
  max-height: 400px;
}

#catfood-list2 {
  width: 200px;
}